<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIP.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
				<key>dateExpires</key>
				<string>19/02/2022</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AuthenticationClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AuthenticationCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DataPlatform.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Domain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Hero.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>M13Checkbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxAlamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SCalendarWeekView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7C548F082E9A73F52752457E64AC75D64BF9EE12</string>
						<key>dateExpires</key>
						<string>19/02/2022</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVGKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B2FYB4CQ4B</string>
						<key>name</key>
						<string>Airbus Group SaS</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B2FYB4CQ4B.com.airbus.fip.aircraft-pocket-planning.ios</string>
				<key>com.apple.developer.default-data-protection</key>
				<string>NSFileProtectionComplete</string>
				<key>com.apple.developer.team-identifier</key>
				<string>B2FYB4CQ4B</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FIP.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1a146aa6-c6d5-4475-b3ad-ded3b8ade8cc</string>
				<key>name</key>
				<string>AC Pocket Planning</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B2FYB4CQ4B</string>
				<key>name</key>
				<string>Airbus Group SaS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
