<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442896296479-mu8gn10h7a3b2m080j43q4mjj1po8gbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442896296479-mu8gn10h7a3b2m080j43q4mjj1po8gbv</string>
	<key>API_KEY</key>
	<string>AIzaSyBX0aMbG-iFiWNRiNn3Habr9k2frscofd4</string>
	<key>GCM_SENDER_ID</key>
	<string>442896296479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simmoApp</string>
	<key>PROJECT_ID</key>
	<string>simmo-76a6b</string>
	<key>STORAGE_BUCKET</key>
	<string>simmo-76a6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442896296479:ios:9709bc6f1760e8bb05032a</string>
</dict>
</plist>